body {
  background-color: rgba(4, 85, 4, 0.801);
  background-image: url(../img/felt.png);
  color: rgb(233, 255, 238);
}

.jumbotron {
  background: rgba(4, 85, 4, 0);
  font-family: 'Fascinate', cursive;
}

.jumbotron h1 {
  font-size: 70px;
  text-align: center;
}

h2 {
  font-family: 'Fascinate', cursive;
}

#player1-name-div {
  text-align: center;
}

#player2-name-div {
  text-align: center;
}

.name-input {
  background-color: rgb(233, 255, 238);
  border: inset 3px rgba(4, 85, 4, 0.801);
  color: rgba(4, 85, 4, 0.801);
}

.name-input::placeholder {
  color: rgba(4, 85, 4, 0.801);
}

.name-input:focus {
  border: 3px rgba(27, 156, 27, 0.801);
  box-shadow: none;
}

.name-button {
  text-align: center;
} 

.player {
  margin: 5px;
  width: 350px;
  margin: 15px;
  background-color:rgba(27, 51, 27, 0.726);
  border: inset 5px rgb(23, 56, 23);
  box-shadow: 0 5px rgb(105, 134, 110);
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  color: rgb(233, 255, 238);
}

.player:hover {
  background: rgba(27, 51, 27, 0.726);
  color: yellow;
}

.player:active {
  background: rgba(27, 51, 27, 0.726);
  box-shadow: 0 3px rgb(68, 88, 71);
  transform: translateY(2px);
}

#main-content {
  display: none;
  align-items: center;
  border-bottom: dashed rgb(233, 255, 238);
}

.dice1 {
  background-image: url(../img/dice1.png);
}

.dice2 {
  background-image: url(../img/dice2.png);
}

.dice3 {
  background-image: url(../img/dice3.png);
}

.dice4 {
  background-image: url(../img/dice4.png);
}

.dice5 {
  background-image: url(../img/dice5.png);
}

.dice6 {
  background-image: url(../img/dice6.png);
}

#player1 {
  text-align: center;
}

#player1 h4 {
  font-family: 'Fascinate', cursive;
  letter-spacing: 8px;
  border-bottom: dashed rgb(233, 255, 238);
}

#player1 p {
  font-family: 'Press Start 2P', cursive;
}

#player2 {
  text-align: center;
}

#player2 p {
  font-family: 'Press Start 2P', cursive;
}

#player2 h4 {
  font-family: 'Fascinate', cursive;
  letter-spacing: 8px;
  border-bottom: dashed rgb(233, 255, 238);
}

.roll {
  margin: 5px;
  background: rgba(4, 85, 4, 0.801);
  font-family: 'Press Start 2P', cursive;
  color: rgb(233, 255, 238);
  border: inset 5px rgba(39, 156, 64, 0.863);
  box-shadow: 0 3px rgb(105, 134, 110);
}

.roll:hover {
  background: rgba(27, 51, 27, 0.726);
}

.roll:active {
  background: rgba(27, 51, 27, 0.726);
  box-shadow: 0 1px rgb(68, 88, 71);
  transform: translateY(2px);
}

.hold {
  margin: 5px;
  background: rgba(28, 49, 28, 0.801);
  font-family: 'Press Start 2P', cursive;
  border: inset 5px rgb(41, 92, 41);
  box-shadow: 0 3px rgb(105, 134, 110);
}

.hold:hover {
  background: rgba(23, 37, 23, 0.801);
}

.hold:active {
  background: rgba(28, 49, 28, 0.801);
  box-shadow: 0 1px rgb(68, 88, 71);
  transform: translateY(2px);
}

#totalPoints1 {
  color: rgb(202, 182, 0);
}

#currentTotal1 {
  color: yellow;
}

#totalPoints2 {
  color: rgb(202, 182, 0);
}

#currentTotal2 {
  color: yellow;
}

#currentRoundHeader {
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 6px;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 11.5vw;
  margin-right: 40px;
  text-align: center;
}

#currentRoundNumber {
  color: yellow;
}

#currentPlayerHeader {
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 6px;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 4.5vw;
  text-align: center;
}

#currentPlayer {
  color: yellow;
}